.searchbar__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 10px 60px;
}

::placeholder {
  color: var(--color02) !important ;
  opacity: 0.7;
}

.searchbar__input {
  background-color: var(--color04);
  width: 500px;
  height: 50px;
  border: none;
  outline: none;
  color: white;
  text-align: center;
}

.searchbar__button {
  height: 50px;
  width: 50px;
  background-color: var(--color05);
  color: white;
  border: none;
  outline: none;
}

.searchbar__button:hover {
  background-color: var(--color06);
  transition: 0.5s;
}

.search__form {
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
}


/*pc tela pequena*/
@media screen and (max-width: 1024px) {}

/*tablets*/
@media screen and (max-width: 768px) {}

/*smartphones*/
@media screen and (max-width: 480px) {
  .searchbar__container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    margin: 5px auto;
  }
  .searchbar__input {
    width: 300px;
  }
}