.header__container {
  background-image: url(../../assets/header.png);
  height: 525px;
  background-position: center;
  margin: 0px 60px;
  display: flex;
}

/*pc tela pequena*/
@media screen and (max-width: 1024px) {}

/*tablets*/
@media screen and (max-width: 768px) {
  .header__container {
    height: 450px;
    margin: 0 0;
    background-size: 250%;
    background-repeat: no-repeat;
  }
}

/*smartphones*/
@media screen and (max-width: 480px) {
  .header__container {
    height: 250px;
    margin: 0 0;
    background-size: 250%;
    background-repeat: no-repeat;
  }
}
