.resultado {
  padding: 80px;
  border-style: solid;
  border-color: black;
  border-width: 2px;
  border-radius: 5px;
  font-size: 1.2rem;
  text-align: center;
  margin: 50px 300px;
}

@media screen and (max-width: 1024px) {}
@media screen and (max-width: 768px) {}
@media screen and (max-width: 480px) {
  .resultado {
    margin: 50px 10px;
    font-size: 0.9rem;
  }

  .resultado>p {
    width: 100%;
    text-align: justify;
  }
}