* {
  margin: 0px;
  border: 0px;
  box-sizing: border-box; 
  scroll-behavior: smooth;
}

li, ul, a, a:hover {
  text-decoration: none;
  color: unset;
  list-style: none;
}

button {
  border: none;
  outline: none;
}

:root {
  --color01: white;
  --color02: #f2eae6;
  --color03: #ffceb1;
  --color04: #cd5241;
  --color05: #b21e22;
  --color06: #2c180d;
  --font-light: 'Helvetica Light';
  --font-medium: 'Helvetica Neue';
  --font-heavy: "Helvetica Black";
}

/* PRINCIPAIS BREAKPOINTS PARA RESPONSIVIDADE:
320px — 480px: Mobile devices
481px — 768px: iPads, Tablets
769px — 1024px: Small screens, laptops
>1024px


@media screen and (max-width: 1024px) {}
@media screen and (max-width: 768px) {}
@media screen and (max-width: 480px) {}
*/